---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
import Prose from "../components/Prose.astro";
const pageTitle = "Home Page";

import { getEntry, render } from "astro:content";

// const entry = await getEntry('collection', 'entry');
// const { Content } = await render(entry);
---

<BaseLayout {pageTitle}>
  <Prose>
    <h2>My awesome blog subtitle</h2>
    <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
  </Prose>
</BaseLayout>
