---
const theme = "catppuccin_macchiato";
---

<div class="mt-8" id="giscus-container">
  <script
    src="https://giscus.app/client.js"
    data-repo="jaemin96/jaemin96.github.io"
    data-repo-id="R_kgDOGlblSA"
    data-category="Q&A"
    data-category-id="DIC_kwDOGlblSM4Cwycn"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme={theme}
    data-lang="ko"
    crossorigin="anonymous"
    async></script>
</div>

<script is:inline>
  const observer = new MutationObserver(() => {
    const theme =
      document.documentElement.dataset.theme || "catppuccin_macchiato";
    const iframe = document.querySelector("iframe.giscus-frame");
    if (!iframe) return;

    iframe.contentWindow?.postMessage(
      {
        giscus: {
          setConfig: {
            theme: theme === "dark" ? "catppuccin_macchiato" : "noborder_light",
          },
        },
      },
      "https://giscus.app"
    );
  });

  // data-theme 속성이 바뀌면 감지
  observer.observe(document.documentElement, {
    attributes: true,
    attributeFilter: ["data-theme"],
  });
</script>
