---

---

<div
  class="prose prose-slate dark:prose-invert prose-h1:font-bold prose-h1:text-xl prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl prose-headings:underline mx-auto my-8 max-w-3xl"
>
  <slot />
</div>
