/* >> Normal Setting! << */
* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button {
  border: 0;
  outline: 0;
}
input {
  border: 0;
  outline: 0;
}
li {
  list-style: none;
}

/* >> SignIn page << */
#signIn {
  display: grid;
  grid-template-columns: 75% 25%;
}

#signIn.hidden {
  display: none;
}

#signIn__bgImage {
}
.bgImage {
  width: 100%;
  height: 100vh;
  background-color: goldenrod;
}

#signIn__userInput {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#userInput {
  width: 75%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#userId {
  width: 100%;
  display: flex;
  align-items: center;
}
#userId input {
  width: 100%;
  height: 2.5em;
  padding-left: 0.5em;
  border-bottom: 1px ridge #8d8c8c;
}
.signInBtn {
  height: 3em;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.952);
  background-color: #42a5f6;
}
.welcome {
  color: #8d8c8c;
  font-size: small;
}

/* >> Success Sign In << */
#successSignIn {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
#successSignIn.hidden {
  display: none;
}
.signOutBtn {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 6em;
  height: 2em;
  z-index: 2;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.952);
  background-color: #b3bdc5;
}
#content {
  width: 50%;
  height: 55vh;
  position: absolute;
  z-index: 2;
  display: grid;
  grid-template-columns: 55% 45%;
}
#userInfo {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255);
}
/* Greet & Clock & todoList & weather */
#clockForm {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  margin-bottom: 3em;
  align-items: center;
}
#greet {
}
#clock {
  margin-top: 1em;
}
#todoListForm {
  display: flex;
  flex-direction: column;
  height: 50vh;
}
#todoListForm input {
  border-top: 1px ridge #bbb9b9;
  border-bottom: 1px ridge #bbb9b9;
  padding: 0 1em;
  height: 2.5em;
}
#todoInputForm {
  width: 100%;
  display: flex;
}
#todoInputForm input {
  width: 90%;
}
#todoInputForm .todoAddBtn {
  width: 10%;
  color: #8d8c8c;
  background-color: #e2e2e2;
  cursor: pointer;
  border-top: 1px ridge #bbb9b9;
  border-bottom: 1px ridge #bbb9b9;
}
#todoList {
  height: 70%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-weight: bold;
  background-color: wheat;
}
#todoList::-webkit-scrollbar {
  display: none;
}
#todoList li {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  border-bottom: 1px ridge #8d8c8c;
}
.deleteBtn {
  cursor: pointer;
  font-size: medium;
  color: #706e6e;
  background-color: wheat;
}
#weather {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
#weather__Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#weather__Form .city {
  font-size: 2.5em;
  font-weight: bold;
}
#weather__Form .weather {
  font-size: 1.5em;
  font-weight: lighter;
  margin-top: 1em;
  margin-bottom: 3em;
}

/* >> translucent << */
#translucent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
#translucent.hidden {
  display: none;
}
